@{
    Layout = "_SimpleLayout";
}
@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
        crossorigin="anonymous"></script>

    <style type="text/css">
        body {
            background: linear-gradient(to right, #CCFFFF, #33AEFF);
        }

        .red {
            color: red;
        }

        .container {
            max-width: 1000px;
            margin-top: 70px;
            padding: 20px;
            background-color: #F0FFF0;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .dktk {
            background-color: #FFFF99;
            color: #FF3333;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-size: 30px;
            font-family: "Segoe UI", Arial, sans-serif;
            font-weight: bold;
            border: 4px solid green;
        }

        .tk-dc {
            margin-top: 10px;
        }

        .tk-dc,
        .ttkh {
            background-color: #FFFF99;
            color: #FF3333;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            font-size: 20px;
            font-family: "Segoe UI", Arial, sans-serif;
            font-weight: bold;
            border: 2px solid #00FF00;
        }

        .form-label {
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="dktk">
            <h1>ĐĂNG KÝ TÀI KHOẢN</h1>
        </div>
        @if (ViewBag.Error != null)
        {
            <h6 style="color: red;">@ViewBag.Error</h6>
        }
        <form action="@Url.Action("Register", "User")" method="post">
            <div class="row">
                <div class="col">
                    <h3 class="tk-dc">Tài khoản</h3>
                    <div class="mb-3">
                        <label for="username" class="form-label">Tên Đăng Nhập</label> <span class="red">*</span>
                        <input type="text" value="@Model?.Username " class="form-control" id="username" name="Username"
                            required>


                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Mật Khẩu</label> <span class="red">*</span>
                        <input type="password" value="@Model?.Password" class="form-control" id="password"
                            name="Password" required onkeyup="kiemTraMatKhau()">
                    </div>
                    <div class="mb-3">
                        <label for="repassword" class="form-label">Nhập Lại Mật Khẩu</label> <span class="red">*</span>
                        <span id="msg" class="red"></span>
                        <input type="password" value="@Model?.Repassword" class="form-control" id="repassword"
                            name="Repassword" required onkeyup="kiemTraMatKhau()">
                    </div>
                    <hr>
                    <h3 class="ttkh">Thông tin khách hàng</h3>
                    <div class="mb-3">
                        <label for="full_name" class="form-label" style="margin-top: 9px">Họ và Tên</label>
                        <input type="text" value="@Model?.FullName" class="form-control" id="full_name" name="FullName"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="gender" class="form-label">Giới tính</label>
                        <select class="form-control" id="gender" name="Gender" required>
                            <option value="Khác">Khác</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="date_of_birth" class="form-label">Ngày Sinh</label>
                        <input type="date" value="@Model?.DateOfBirth.ToString("yyyy-MM-dd")" class="form-control"
                            id="date_of_birth" name="DateOfBirth" required>
                    </div>
                </div>
                <div class="col">
                    <h3 class="tk-dc">Địa chỉ</h3>
                    <div class="mb-3">
                        <label for="address" class="form-label">Địa chỉ khách hàng</label>
                        <input type="text" value="@Model?.Address" class="form-control" id="address" name="Address"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="telephone" class="form-label">Điện thoại</label>
                        <input type="tel" value="@Model?.Telephone" class="form-control" id="telephone" name="Telephone"
                            required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" value="@Model?.Email" class="form-control" id="email" name="Email" required>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <label for="dongYDieuKhoan" class="form-label">Đồng ý với điều khoản của công ty <span
                                class="red">*</span></label>
                        <input type="checkbox" class="form-check-input" id="dongYDieuKhoan" name="DongYDieuKhoan"
                            required onchange="xuLiChonDongY()">
                    </div>
                    <div class="mb-3">
                        <label for="dongYNhanMail" class="form-label">Đồng ý nhận email</label>
                        <input type="checkbox" class="form-check-input" id="dongYNhanMail" name="DongYNhanMail">
                    </div>
                    <input class="btn btn-primary form-control" type="submit" value="Đăng ký" id="submit"
                        style="visibility: hidden;">
                </div>
            </div>
        </form>
    </div>

    <script>
        function kiemTraMatKhau() {
            var matKhau = document.getElementById("password").value;
            var matKhauNhapLai = document.getElementById("repassword").value;

            if (matKhau !== matKhauNhapLai) {
                document.getElementById("msg").innerHTML = "Mật khẩu không khớp";
                return false;
            } else {
                document.getElementById("msg").innerHTML = "";
                return true;
            }
        }

        function xuLiChonDongY() {
            var dongYDieuKhoan = document.getElementById("dongYDieuKhoan");
            if (dongYDieuKhoan.checked === true) {
                document.getElementById("submit").style.visibility = "visible";
            } else {
                document.getElementById("submit").style.visibility = "hidden";
            }
        }
    </script>
</body>

</html>
