<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Thank you đã mua hàng</h1>
    <div href="@Url.Action("Index", "Home")">quay lại trang chủ</div>
</body>

</html>